.card-container{

    .card-info-container{
        display: flexnpm;
    }

    .card-btn{
        background-color: #ffff;
        color: black;
        border-radius: 50px;
        padding: 10px;

    }
}