.card-container {
    background-color: #0c122a;
    border-radius: 20px;
    border: 1px solid #1f2444;
    padding: 15px;

    .card-info-container {
        display: flexnpm;
    }

    .card-btn {
        background-color: #ffff;
        color: black;
        border-radius: 50px;
        padding: 10px;

    }
}