.card-container {
    background-color: #0c122a;
    border-radius: 20px;
    border: 1px solid #1f2444;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .card-info-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .card-btn {
        background-color: #ffff;
        color: black;
        border-radius: 50px;
        padding: 10px;
        align-self: start;

    }
}