section.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 560px;

    h2 {
        text-align: center;
        margin-bottom: 18px;
    }

    p {
        width: 643px;
        text-align: justify;
        margin-bottom: 60px;
    }

    .skills-box {
        display: flex;
        justify-content: space-around;
        width: 65em;
        height: 330px;

        .skills-box-square {
            width: 25em;
            height: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;


            .skills-box-square-info {
                width: 400px;
                height: 250px;
                background-color: rgba(240, 248, 255, 0.412);
                border-radius: 20px;
                padding: 15px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                justify-items: center;
                align-items: center;

                img {
filter: drop-shadow(0px 0px 10px  rgba(0,0,0,8));

                    &:hover {
                        transform: scale(1.2);
                        transition: transform 0.2s ease-in-out;
                    }
                }
            }
        }
    }
}

@media screen {}