section.home {
    display: flex;
    flex-wrap: wrap;
    width: 70em;
    max-width: 100%;
    height: auto;
    padding: 15px;
    align-items: center;
    margin: auto;

    h1 {
        margin-bottom: 20px;
        font-size: 60px;
    }

    h2 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 30px;
        text-align: justify;
    }

    .profile-info {
        width: 60%;
        flex: 1 1 60%;
        

        button {
            margin-right: 20px;

            &:hover {
                background-color: var(--black);
                color: var(--white);

                a {
                    color: var(--yellow);
                }
            }

            a {
                color: var(--black);
            }
        }
    }

    .profile-img {
        width: 40%;
        flex: 1 1 40%;
        display: grid;
        place-items: center;

        img {
            display: flex;
            width: 250px;
            align-items: center;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
            height: 250px;
        }
    }
}


@media (max-width: 768px) {
    section.home {
        flex-direction: column;
        align-items: flex-start;
        h1 {
            font-size: 40px;
        }

        .profile-info {
            width: 100%;
            flex: 1 1 100%;
        }

        .profile-img {
            width: 100%;
            order: -1; /* Mueve .profile-img al inicio */
            /* Ajusta el ancho al 100% */
            flex: 1 1 100%;
            margin-bottom: 20px;
            /* Añade margen inferior para espaciar los elementos */
        }

        .profile-img img {
            width: 200px;
            /* Reduce el tamaño de la imagen */
            height: 200px;
            /* Reduce el tamaño de la imagen */
        }
    }
}

@media (max-width: 480px) {
    section.home {
        padding: 10px;
        /* Reduce el padding en pantallas muy pequeñas */

        h1 {
            font-size: 30px;
            /* Reduce aún más el tamaño de la fuente */
        }

        p {
            margin-bottom: 20px;
            /* Ajusta el margen inferior */
        }

        .profile-img img {
            width: 150px;
            /* Reduce aún más el tamaño de la imagen */
            height: 150px;
            /* Reduce aún más el tamaño de la imagen */
        }
    }
}