.contac-nav {
display: flex;

    .button {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: none;
        background: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
        position: relative;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        transition: 0.1s;
    }

    .button svg {
        color: white;
        width: 30px;
        height: 30px;
        z-index: 9;
    }

    .button:nth-child(2) {
        background: linear-gradient(120deg, #02ff2c, #008a12);
    }

    .button:nth-child(3) {
        background: rgb(69, 187, 255);
    }

    .button:nth-child(4) {
        background: rgb(255, 33, 33);
    }

    .button:nth-child(5) {
        background: black;
    }

    .button:active {
        transform: scale(0.85);
    }

    .button::before {
        content: "";
        position: absolute;
        width: 55px;
        height: 55px;
        background-color: #212121;
        border-radius: 50px;
        z-index: -1;
        border: 0px solid rgba(255, 255, 255, 0.411);
        transition: 0.4s;
    }

    .button:hover::before {
        width: 0px;
        height: 0px;
    }
}