header {
    margin-top: 10px;
 .btn-menu{
    background-color: none;
 }
    .material-symbols-outlined {
        display: flex;
        justify-content: center;

        &:active {
            color: var(--yellow);
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        li a:hover {
            color: var(--yellow);
        }
    }

    @media screen and (min-width:768px) {
        .material-symbols-outlined {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            gap: 35px;
            margin: 20px 0px 10px 0px;
        }

    }


}