header {
    margin-top: 10px;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px;

        li a:hover{
            color: var(--yellow);
        }
    }




}