* {
  font-family: 'Onest-Variable';
  margin: 0;
  padding: 0;
  color: var(--white);
  box-sizing: border-box;

  body {
    background: rgb(20, 19, 59);
    background: -moz-radial-gradient(circle, rgba(20, 19, 59, 1) 0%, rgba(2, 0, 36, 1) 94%, rgba(2, 0, 36, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(20, 19, 59, 1) 0%, rgba(2, 0, 36, 1) 94%, rgba(2, 0, 36, 1) 100%);
    background: radial-gradient(circle, rgb(20, 19, 59) 0%, rgba(2, 0, 36, 1) 94%, rgba(2, 0, 36, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#14133b", endColorstr="#020024", GradientType=1);
    justify-content: center;

    main {
      align-items: center;

      section {
        margin: auto;
        padding: 25px 10px;

        @media screen and (min-width: 768px) and (max-width: 1024px) {
          padding: 25px 10px;
        }

        @media screen and (min-width: 1024px) {
          padding: 25px 10px;
          width: 60em;
        }
      }
    }

    span{font-size: 30px;}
    h2 {
      font-size: 30px;
    }


    button {
      width: 130px;
      height: 45px;
      padding: 7px;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #000;
      background-color: #fff;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: #3cc7fb;
        box-shadow: 0px 5px 20px rgba(60, 199, 251, 0.4);
        color: #fff;

      }

      &:active {
        transform: translateY(3px);
      }
    }
  }

  img {
    width: 60px;
    height: 60px;
  }

  a {
    text-decoration: none;
    color: var(--white);
  }

  ul li {
    list-style: none;
  }


}